.header {
  display: flex;

}

.bg-video__logo__container {
  display: flex;
  background-color: none;
  z-index: 1;
}

.bg-video__logo {
  height: 7rem;
  padding-top: 1rem;
  padding-left: 1rem;


  @media only screen and (min-width: $bp-medium) {
    height: 10rem;
  }
}

.bg-video__logo.active {
  display: none;
}

