$bp-largest: 75em;  //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-small: 37.5em; //600px
$bp-smallest: 31.25em; //500px


@font-face {
  font-family: Supporterhuset;
  src:url('../fonts/supporterhuset.otf') format('otf'),
      url('../fonts/supporterhuset/supporterhuset-webfont.ttf') format('truetype'),
      url('../fonts/supporterhuset/supporterhuset-webfont.woff2') format('woff2'),
      url('../fonts/supporterhuset/supporterhuset-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: Supporterhuset_italic;
  src:url('../fonts/supporterhuset.otf') format('otf'),
      url('../fonts/supporterhuset-italic/supporterhuset_italic-webfont.ttf') format('truetype'),
      url('../fonts/supporterhuset-italic/supporterhuset_italic-webfont.woff2') format('woff2'),
      url('../fonts/supporterhuset-italic/supporterhuset_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}


$font-heading: Supporterhuset, Impact, Helvetica, sans-serif;
$font-content: "Proxima-Nova", "Century Gothic", serif;
$font-heading-it: Supporterhuset_italic, Impact, Helvetica, sans-serif;

$emblemblue: #003865;
$emblemblue-light: rgba(0,56,101,.3);
$skyblue: #84A3C4;
$skyblue-light: rgba(132,163,196, .3);



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px / 16 px = 62.5%. 1rem = 10px */

  // @media only screen and (min-width: $bp-medium) {
  //   font-size: 100%;
  // }
}


li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2.5rem;
  font-family: $font-heading;
  color: $emblemblue;

  @media only screen and (min-width: $bp-medium) {
    font-size: 4rem;
  }
}

p {
  font-size: 1.5rem;
  font-family: $font-content;

  @media only screen and (min-width: $bp-medium) {
    font-size: 2rem;
  }
}

